#indexDiv {
  width: 100% !important;
  border-radius: 10px;
  margin-bottom: 50px;
  object-fit: cover;
  object-position: 0% 0%;
  margin-top: 50px;

  .blog-details-root {
    display: flex;
    width: 100%;
    flex-direction: column;
    margin-top: 100px;
    align-items: center;
    justify-content: center;
  }

  .blog-details-title {
    margin-top: -40px;
    margin-bottom: 50px;
    font-weight: bold;
  }

  .blog-details-cover {
    width: 100%;
    border-radius: 10px;
  }

  .authorDetails {
    width: 300px;
  }


  .authorUserName {
    font-size: 14px;
    font-weight: 400;
    line-height: 0px;
  }

  .timer:hover {
    cursor: pointer;
    text-decoration: underline;
  }

  .dropDownMenu {
    transform: translate3d(-30px, 36px, 0px) !important;
  }

  .blog-details-author {
    width: 300px;
  }

  .blog-details-info {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .infoDetails {
    position: absolute;
    margin-left: 381 px !important;
    margin-top: -150 px !important;
  }

  .headerContainer {
    border: 1 px solid rgb(216, 215, 215) !important;
    margin-top: 20 px !important;
    border-radius: 20 px !important;
  }

  .titleX {
    position: absolute;
    margin-top: -300px;
    margin-left: 447px;
  }

  .postDte {
    // position: absolute;
    margin-top: 107px;
    margin-left: 247px;
    border-radius: 20px;
    border: 1px solid rgb(216, 215, 215);
    padding: 10px;
    background-color: white;
    height: 188px
  }

  .mode:active {
    background-color: red;
  }

  .blogInfo {
    margin-left: -1047px;
    margin-top: -280px;
  }

  .posted {
    border-bottom: 1px solid grey;
  }

  .deleteBlog {
    background-color: transparent;
    color: black;
    border-radius: 20px;
  }

  .deleteBlog:hover {
    cursor: pointer;
  }

  .shareComment {
    border-radius: 20px;
    border: 1px solid rgb(216, 215, 215);
    background-color: transparent;
    color: black;
    text-decoration: none;
  }

  .btn-default,
  .btn-default:hover,
  .btn-default:active,
  .btn-default:active:focus,
  .btn-default:visited,
  .btn-default:focus {
    color: #dcdcdc;
    background-color: #232323;
    outline: none;
  }

  .btn:focus {
    outline: none;
    box-shadow: none;
  }

  .blogContent {
    border-radius: 20px;
    border: 1px solid rgb(216, 215, 215);
    padding: 15px;
    background-color: transparent;
    color: black;
    text-decoration: none;
  }

  .blogPostTitle {
    border-bottom: 1px solid rgb(216, 215, 215);
    margin-bottom: 10px;
  }

  .lrdimg {
    margin-left: -5px !important;
  }

  .jumbotron-banner {
    background-image: url("../../../../../assets/asset1.png");
    background-position: top;
    background-repeat: no-repeat;

    /* width: 567px; */
  }

  .dropdownbtn {
    width: 30px;
    height: 30px;
    font-size: 10px;
    margin-top: 0px;
    margin-left: 102px;
    padding-bottom: 20px;
    background-color: transparent;
    border-radius: 50px;
    border: none;
    
  }

  .dropdownbtn:focus {
    outline: none;
    box-shadow: none;
    background-color: transparent;
  }

  .dropdownbtn:hover {
    outline: none;
    box-shadow: none;
    background-color: antiquewhite;
  }

  .customPicContainer {
    display: flex;
    align-items: center;
    justify-content: flex-end;
  }

  .customLinks:hover {
    cursor: pointer;
    text-decoration: underline;
    color: #0056b3;
  }
}