#followersContainer {
    .userInfo {
        display: flex;
        flex-direction: column;
        align-items: baseline;
        max-height: 200px;
        .userImgContainer {
            display: flex;
            flex-direction: column;
            align-items: center;
            position: absolute;
            margin: 9% 35% 0% 35%;
            background-color: #fbfbfb;
            border-radius: 20px;
            padding: 5px;
            box-shadow: 0px 5px 5px black;
            .userImg {
                border-radius: 50%;
            }
        }
        .userCov {
            z-index: -1;
            width: 100%;
            object-fit: cover;
            max-height: 100%;
        }
    }
    .COL {
        border-right: 1px solid rgb(216,215,215);
        border-left: 1px solid rgb(216,215,215);
    }
    #listGroup {
        border-right: none !important;
        border-left: none !important;
        border-radius: 0 !important;
    }
    .followbtn {
        border-radius: 20px;
        border: 1px solid grey;
        color: black;
        background-color: transparent;
        box-shadow: 5px 5px 1px black ;
      }
    
      .followbtn:hover {
        border-radius: 20px;
        color: black;
        background-color: antiquewhite;
      }
    
      .followbtn:active {
        outline: none;
        box-shadow: 5px 5px 1px black  ;
      }
    
      .followbtn:focus {
        outline: none;
        box-shadow: 5px 5px 1px black;
      }
    
      .followbtn:focus-visible {
        outline: none;
        box-shadow: none ;
      }
    
      .nowfollowing {
        border-radius: 20px !important;
        background-color: #f91880 !important;
        border: 1px solid #f91880 !important;
        box-shadow: 5px 5px 1px black !important
      }
    
      .nowfollowing:active {
        outline: none;
        box-shadow: 5px 5px 1px black ;
      }
    
      .nowfollowing:focus {
        outline: none;
        box-shadow: 5px 5px 1px black ;
      }
    
      .nowfollowing:focus-visible {
        outline: none;
        box-shadow: none ;
      }
}