#userProfileContainer {
  margin-bottom: 0 !important;

  .opened-to-work {
    border-radius: 10px;
    background-color: rgb(231, 226, 221);
  }

  // .jumbotron-banner1 {
  //   background-image: url("https://wallpaper.dog/large/5510815.jpg");
  //   background-position: top;
  //   background-repeat: no-repeat;
  //   background-size: 80%;
  //   // width: 567px;

  // }

  .recentDiv {
    padding-right: 1.25rem!important;
    padding-left: 1.25rem!important;
  }

  .cover {
    z-index: -1;
    object-fit: cover;
    width: 100%;
  }

  .coverDiv {
    position: relative;
    width: 100%;
  }

  .coverModal {
    position: absolute;
    margin-top: 10px;
    margin-left: 5px;
  }

  .userJumbo {
    border-left: 1px solid #24224a !important;
    border-right: 1px solid #24224a !important;
    border-bottom: 1px solid #24224a !important;
    box-shadow: 0px 0px 1px #d8d7d7;
  }
  

  .coverUpdateBtn {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background-color: #f91880;
    border: none;

    .img {
      margin-left: -2px;
    }
  }

  .coverUpdateBtn:hover {
    background-color: #d3176f;
  }

  .coverUpdateBtn:active {
    box-shadow: none;
    border: none;
    outline: none;
  }

  .coverUpdateBtn:focus {
    box-shadow: none;
    border: none;
    outline: none;
  }

  .coverUpdateBtn:focus-visible {
    box-shadow: none;
    border: none;
    outline: none;
  }

  #profile-pic {
    top: 20%;
    left: 25px;
    border-radius: 50%;
    display: block;
    // border: 1px solid rgb(216, 215, 215);
  }

  #jinx {
    align-items: center;
    margin-top: -75px;
    color: #dadada;
  }

  .ml5 {
    margin-left: 10px;
  }

  .customLinks1 {
    background-color: transparent;
    color: #0056b3;
    border-radius: 20px;
    font-size: 14px;
    font-style: normal;
    font-weight: 600;
    line-height: 18px;
  }

  .customLinks1:hover {
    cursor: pointer;
    text-decoration: underline;
    color: #0056b3;
  }

  .magicRow {
    padding-bottom: 20px !important;
  }

  .jumboBorder {
    border: 1px solid black;
    border-radius: 20px;
    // margin-top: 90px;
  }


  .jumbobtn-open-to {
    border: 1px solid rgb(33, 93, 172);
    background-color: rgb(33, 93, 172);
    border-radius: 20px;
  }

  .nameHeader {
    font-weight: 600;
    font-size: 24px;
    line-height: 30px;
    font-style: normal;
  }

  .eduandexp {
    flex-direction: column;
    align-items: baseline;
    margin-left: 120px;
  }

  .jumbobtn {
    border-radius: 20px;
    border: none;
    color: white;
    background-color: #f91880;
  }

  .jumbobtn:hover {
    background-color: #e41575 !important;
  }

  .jumbobtn:focus {
    box-shadow: none;
  }

  .jumbobtn-open-to:hover {
    outline: 2px solid grey;
    background-color: #004182;
  }

  .jumbobtn:hover {
    background-color: antiquewhite;
  }

  .jumbobtn:focus {
    outline: none !important;
    box-shadow: none;
  }

  .jumbo-a {
    text-decoration: none !important;
    cursor: pointer;
  }

  .imgDiv:hover {
    cursor: pointer;
  }

  // .followbtn {
  //     border-radius: 20px;
  //     border: 1px solid grey;
  //     color: black;
  //     background-color: transparent;
  //     box-shadow: 5px 5px 1px black;
  // }

  // .followbtn:hover {
  //     border-radius: 20px;
  //     color: black;
  //     background-color: antiquewhite;
  // }

  // .followbtn:active {
  //     outline: none;
  //     box-shadow: 5px 5px 1px black;
  // }

  // .followbtn:focus {
  //     outline: none;
  //     box-shadow: 5px 5px 1px black;
  // }

  // .followbtn:focus-visible {
  //     outline: none;
  //     box-shadow: none;
  // }

  // .nowfollowing {
  //     border-radius: 20px !important;
  //     background-color: #f91880 !important;
  //     border: 1px solid #f91880 !important;
  //     box-shadow: 5px 5px 1px black !important
  // }

  // .nowfollowing:active {
  //     outline: none;
  //     box-shadow: 5px 5px 1px black;
  // }

  // .nowfollowing:focus {
  //     outline: none;
  //     box-shadow: 5px 5px 1px black;
  // }

  // .nowfollowing:focus-visible {
  //     outline: none;
  //     box-shadow: none;
  // }
  .followbtn {
    border-radius: 20px;
    border: 1px solid #dadada;
    color: black;
    background-color: #dadada;
    box-shadow: 5px 5px 1px black;
  }

  .followbtn:hover {
    border-radius: 20px;
    color: black;
    background-color: antiquewhite;
  }

  .followbtn:active {
    outline: none;
    box-shadow: 5px 5px 1px black;
  }

  .followbtn:focus {
    outline: none;
    box-shadow: 5px 5px 1px black;
  }

  .followbtn:focus-visible {
    outline: none;
    box-shadow: none;
  }

  .nowfollowing {
    border-radius: 20px !important;
    background-color: #f91880 !important;
    border: 1px solid #f91880 !important;
    box-shadow: -5px 5px 1px black !important
  }

  .nowfollowing:active {
    outline: none;
    box-shadow: 5px 5px 1px black;
  }

  .nowfollowing:focus {
    outline: none;
    box-shadow: 5px 5px 1px black;
  }

  .nowfollowing:focus-visible {
    outline: none;
    box-shadow: none;
  }
}

.modal-backdrop.show.fade {
  background-color: #627484;
}

#editModal {
  .modal-content {
    height: 530px;
    border-radius: 20px;
    background: #020024;
    border: 1px solid #24224a;
  }


  .modal-header {
    border-bottom: 1px solid #24224a;
    color: #dadada;
  }

  .modal-body {
    height: 400px;
    overflow: scroll;
  }

  .modal-footer {
    border-top: 1px solid #24224a;
    color: #dadada;
  }

  .modal-btn {
    border-radius: 20px;
    border: none;
    color: white;
    background-color: #f91880;
  }

  .modal-btn:hover {
    background-color: #e41575;
  }

  .modal-btn:focus {
    box-shadow: none;
  }

  .form-control {
    border: 1px solid #6e767d;
    background: #020024;
  }

  .form-control:focus {
    background: #020024;
    color: #dadada;
    border: 2px solid #f91880;
    box-shadow: none;
  }
}

#updatePicModal {
  width: 1000px !important;

  // .modal-dialog {
  //   width: 100%;
  //   height: 100%;
  //   margin: 0;
  //   padding: 0;
  // }
  .modal-header {
    border-bottom: none;
  }

  .ProfilePicture {
    border-radius: 50%;
    object-fit: cover;
  }

  .modal-content {
    height: 630px;
    border-radius: 20px;
    background: #020024;
    border: 1px solid #24224a;
  }

  .modal-footer {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    padding: 0.75rem;
    border-top: 1px solid #24224a;
    border-bottom-right-radius: calc(0.3rem - 1px);
    border-bottom-left-radius: calc(0.3rem - 1px);
  }

  .modal-btn {
    border-radius: 20px;
    border: none;
    color: white;
    background-color: #f91880;
  }

  .modal-btn:hover {
    background-color: #e41575;
  }

  .modal-btn:focus {
    box-shadow: none;
  }

  .btnIcon:hover {
    background-color: #f7e6ee;
  }

  .btnIcon:focus {
    box-shadow: none;
    outline: none;
    border: none;
  }

  .imgWrapper {
    display: flex;
    justify-content: center;
  }

  .profile-pic {
    border-radius: 50%;
  }

  .addPhoto {
    font-weight: 400;
    font-size: 13px;
    line-height: 20px;
  }
}

#listGroup {
  .followersContainer {
    align-items: center;
    cursor: pointer;
  }

  .followbtn {
    border-radius: 20px;
    border: 1px solid grey;
    color: black;
    background-color: transparent;
  }

  .followbtn:hover {
    border-radius: 20px;
    color: black;
    background-color: antiquewhite;
  }

  .followbtn:active {
    outline: none;
    box-shadow: none;
  }

  .followbtn:focus {
    outline: none;
    box-shadow: none;
  }

  .followbtn:focus-visible {
    outline: none;
    box-shadow: none;
  }

  .nowfollowing {
    border-radius: 20px !important;
    background-color: #f91880 !important;
    border: 1px solid #f91880 !important;
  }

  .nowfollowing:active {
    outline: none;
    box-shadow: none;
  }

  .nowfollowing:focus {
    outline: none;
    box-shadow: none;
  }

  .nowfollowing:focus-visible {
    outline: none;
    box-shadow: none;
  }

  .customLinks1 {
    background-color: transparent;
    color: black;
    border-radius: 20px;
    font-size: 14px;
    font-style: normal;
    font-weight: 600;
    line-height: 18px;
    text-decoration: none;
  }

  .customLinks1:hover .nameInfo {
    cursor: pointer;
    text-decoration: underline;
    color: #0056b3;
  }

  .bio {
    font-weight: 400;
    font-size: 13px;
    line-height: 18px;
  }
}

#recentPost {
  cursor: pointer;
  color: #dadada;
  // border: 1px solid rgb(216, 215, 215);
  // padding: 20px;
  margin-top: 50px;

  .recentItem {
    // border-top: 1px solid rgb(216, 215, 215);
    width: 100px;
    height: 100px;
    border-radius: 50%;
    border: 1px solid rgb(216, 215, 215);
    display: flex;
    align-items: center;
    justify-content: center;
    .media {
      // width: 80px;
      z-index: -1;
      object-fit: cover;
      width: 100px;
      height: 100px;
      border-radius: 50%;
      border: 1px solid rgb(216, 215, 215);
    }
    .circleBorders {
      // border: 1px solid black;
      border-radius: 50%;
    }
  }

  .recentDiv {
    margin-top: 30px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
  }  

  .postContainer:hover {
    cursor: pointer;
  }

  .postContainer:hover span {
    cursor: pointer;
    text-decoration: underline;
    color: #0056b3;
  }
}

#coverModal {

  .modal-content {
    height: 630px;
    border-radius: 20px;
    background: #020024;
    border: 1px solid #24224a;
  }

  .modal-header {
    border-bottom: 1px solid #24224a;
    color: #dadada;
  }

  .modal-footer {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    padding: 0.75rem;
    border-top: 1px solid #24224a;
    border-bottom-right-radius: calc(0.3rem - 1px);
    border-bottom-left-radius: calc(0.3rem - 1px);
  }

  .modal-btn {
    border-radius: 20px;
    border: none;
    color: white;
    background-color: #f91880;
  }

  .modal-btn:hover {
    background-color: #e41575;
  }

  .modal-btn:focus {
    box-shadow: none;
  }

  .imgWrapper {
    display: flex;
    justify-content: center;
  }

  .profile-pic {
    border-radius: 50%;
  }
}