.customFooter {
    height: 8.8vh;
    background-color: transparent;
    // position: sticky
    padding-top: 5px;
    padding-bottom: 5px;
    font-size: 13px;
  
    /* margin-top: 61px; */
}

.followers {
    position: fixed;
    bottom: 0;
    font-size: 13px;
  
}

.customSel {
    border-radius: 20px;
    width: 170px;
}

.customSel:focus {
    outline: none;
}


