#blogAuthorContainer {
  .blog-author {
    width: 40px;
    height: 40px;
  }

  .author {
    margin-left: 10px;

  }

  .authorFirstName {
    font-size: 14px;
    font-weight: 600;
    line-height: 16px;
    color: #dadada !important;
  }

  .authorUserName {
    font-size: 12px;
    line-height: 14px;
    color: #dadada !important;
  }

  .postTime {
    font-size: 12px;
    line-height: 14px;
  }

  .authorDetails:hover {
    cursor: pointer;
  }

  .slash {
    height: 50px;
  }

  #authorDetails {
    cursor: pointer;
  }

  #authorDetails:hover .authorFirstName {
    text-decoration: underline;
    color: #0056b3 !important;
  }
}

#userInfo {
  z-index: 999;
  position: absolute;
  display: flex;
  flex-direction: column;
  width: 270px;
  pointer-events: auto;
  background: rgb(2,0,36);
  background-clip: padding-box;
  margin-top: 222px;
  border-radius: 20px;
  border: 2px solid rgb(2,0,36);
  box-shadow: 0px 0px 7px  rgb(216, 215, 215);

  .modal-content {
    position: relative;
    display: flex;
    flex-direction: column;
    width: 100%;
    pointer-events: auto;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid rgba(0, 0, 0, .2);
    border-radius: 20px;
  }

  .modal-body {
    padding-bottom: 0;
  }

  .modal-btn {
    border-radius: 20px;
    border: 1px solid rgb(216, 215, 215) !important;
    color: black;
    background-color: transparent;
    height: 30px;
  }

  .modal-btn:hover {
    background-color: antiquewhite;
  }

  .modal-btn:focus {
    box-shadow: none;
  }

  .modal-title {
    font-weight: 400;
    font-size: 20px;
    line-height: 28px;
    margin-bottom: 0;
  }

  .btnIcon {
    border-radius: 50%;
  }

  .btnIcon:hover {
    background-color: antiquewhite;
    border-radius: 50px;
  }

  .roundpic {
    border-radius: 50%;
  }

  .userDetails {
    font-weight: 500;
    font-size: 15px;
    line-height: 18px;
    font-style: bold;
    font-family: -apple-system, system-ui, "system-ui", "Segoe UI", Roboto, "Helvetica Neue", "Fira Sans", Ubuntu, Oxygen, "Oxygen Sans", Cantarell, "Droid Sans", "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Lucida Grande", Helvetica, Arial, sans-serif;
    ;
  }

  .userUserName {
    font-size: 13px;
  }

  .textarea {
    border: none;
    resize: none;
  }

  .textarea:focus {
    box-shadow: none;
    outline: none;
    border: none;
  }

  .form1 {
    margin-bottom: 0;
  }

  .userInfoContainer {
    padding: 15px 15px !important;
  }

  .followers1 {
    cursor: pointer;
  }

  .followers1:hover {
    text-decoration: underline;
    color: #0056b3;
  }

  #userDetails:hover .userDetails {
    text-decoration: underline;
    color: #0056b3 !important;
  }

  // 
  .followbtn {
    border-radius: 20px;
    border: 1px solid grey;
    color: black;
    background-color: white;
    box-shadow: 5px 5px 1px black;
  }

  .followbtn:hover {
    border-radius: 20px;
    color: black;
    background-color: #dadada;
  }

  .followbtn:active {
    outline: none;
    box-shadow: 5px 5px 1px black;
  }

  .followbtn:focus {
    outline: none;
    box-shadow: 5px 5px 1px black;
  }

  .followbtn:focus-visible {
    outline: none;
    box-shadow: none;
  }

  .nowfollowing {
    border-radius: 20px !important;
    background-color: #f91880 !important;
    border: 1px solid #f91880 !important;
    box-shadow: -5px 5px 1px black !important
  }

  .nowfollowing:active {
    outline: none;
    box-shadow: 5px 5px 1px black;
  }

  .nowfollowing:focus {
    outline: none;
    box-shadow: 5px 5px 1px black;
  }

  .nowfollowing:focus-visible {
    outline: none;
    box-shadow: none;
  }

}