.spinner-container {
    display: flex;
    justify-content: center;
    .spinner {
        width: 40px;
        height: 40px;
        text-align: center;
        margin-top: 260px !important;
        background-color: #f91880;
    }
}
  
