#replyContainer {
    flex-direction: column;
    align-items: flex-end;
    .replyContainer {
        width: 80%;
        padding: 0 12px;
    }
    .reply2 {
        border-radius: 20px;
        border: 1px solid black;
    }
    .rply {
        padding: 0 10px;
        width: 88%;
    }
}

