#navBarAvatar {
  position: absolute;
  top: 20%;
  left: 20%;
  font-family: "JetBrains Mono", sans-serif;
  font-weight: bold;
}

#profileAvatar {
  position: relative;
  font-family: "JetBrains Mono", sans-serif;
  font-weight: bold;
  letter-spacing: 3px;
}

#modalAvatar {
  position: relative;
  font-family: "JetBrains Mono", sans-serif;
  font-size: 6rem;
  font-weight: bold;
  letter-spacing: 3px;
}